{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Code Room: {{ room_name }}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'code_editor/css/style.css' %}">
    </head>
    <body>
        {% comment %}
        hidden element to get room-name in script.js 
        {% endcomment %}
        <div id="room-name" style="display: none;">{{ room_name }}</div>
        
        <h1>Collaborative Code Editor - Room: {{ room_name }}</h1>
        
        <div>
            <label>Language:</label>
            <select id="language">
                {% for lang in languages %}
                    <option value="{{ lang }}">{{ lang|upper }}</option>
                {% endfor %}
            </select>
            <button id="run-code">Run Code</button>
        </div>
    
        <div class="container">
            <!-- Code editor section -->
            <div id="code-editor-container" class="mb-3">
                <textarea id="code-editor" placeholder="Start coding here..." class="form-control"></textarea>
            </div>
    
            <!-- Output and Chat Section -->
            <div id="output-chat-container" class="d-flex">
                <h3>Output</h3>
                <!-- Output Section -->
                <div id="output" class="flex-grow-1"></div>
    
                <!-- Chat Section -->
                <div id="chat" class="flex-grow-1">
                    <h3>Chat</h3>
                    <div id="chat-messages"></div>
                    <input id="chat-input" type="text" class="form-control" placeholder="Type your message...">
                </div>
            </div>
    
        </div>
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script src="{% static 'code_editor/js/script.js' %}"></script>
    </body>
</html>